FinglishApp/target
/Weekly practise/week 2/Maksukortti/nbproject/private/
/Weekly practise/week 2/Maksukortti/build/
/Weekly practise/week 2/Unicafe/target/
/WeeklyExercises/week 2/Maksukortti/build/
/WeeklyExercises/week 2/Maksukortti/nbproject/private/
/WeeklyExercises/week 2/Unicafe/target/
/WeeklyExercises/week2/Maksukortti/build/
/WeeklyExercises/week2/Maksukortti/nbproject/private/
/WeeklyExercises/week2/Unicafe/
/FinglishApp/nbproject/